/**								定义全局函数和变量				**/
@charset "utf-8";
/**								自定义路径         			**/
@trans_dur : 0.3s;
@pic_path: "/static/img/";
@less_path:"/static/less/";
/**								自定义变量					**/

.tf(@vtf){
transform : @vtf;
-webkit-transform : @vtf;
-moz-transform : @vtf;
-o-transform : @vtf;
-ms-transform : @vtf;
}

.bgc(@color){
	background-color: @color;
}
.fc(@color){
	color: @color;
}
.f(@size){
	font-size: @size;
}
.fb(){
	font-weight: bold;
}
.fn(){
	font-weight: normal;
}
.fs(){
	font-style: normal;
}
.tnone(){
	text-decoration: none;
}
.tunder(){
	text-decoration: underline;
}
.w(@width){
	width: @width;
}
.h(@height){
	height: @height;
}
.l(@height){
	line-height: @height;
}
.c(){
	text-align: center;
}
.tl(){
	text-align: left;
}
.tr(){
	text-align: right;
}
.vt(){
	vertical-align: top;
}
.vm(){
	vertical-align: middle;
}
.vb(){
	vertical-align: bottom;
}
.left(){
	float: left;
}
.right(){
	float: right;
}
.ma(){
	margin: 0px auto;
}
.mt(@var){
	margin-top: @var;
}
.mr(@var){
	margin-right: @var;
}
.mb(@var){
	margin-bottom: @var;
}
.ml(@var){
	margin-left: @var;
}
.pt(@var){
	padding-top: @var;
}
.pr(@var){
	padding-right: @var;
}
.pb(@var){
	padding-bottom: @var;
}
.pl(@var){
	padding-left: @var;
}
.pa(){
	position: absolute;
}
.pr(){
	position: relative;
}
.pf(){
	position: fixed;
}
.z(@size){
	z-index: @size;
}
.none(){
	display: none;
}
.block(){
	display: block;
}
.i_block(){
	display: inline-block;
}
.border-1(@color){
	border: 1px solid @color;
}
.border-t-1(@color){
	border-top: 1px solid @color;
}
.border-r-1(@color){
	border-right: 1px solid @color;
}
.border-b-1(@color){
	border-bottom: 1px solid @color;
}
.border-l-1(@color){
	border-left: 1px solid @color;
}
.border-r(@radius){
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.border-tl-r(@radius){
	-webkit-border-top-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	border-top-left-radius: @radius;
}
.border-tr-r(@radius){
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	border-top-right-radius: @radius;
}
.border-bl-r(@radius){
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-bottom-left-radius: @radius;
}
.border-br-r(@radius){
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	border-bottom-right-radius: @radius;
}
.box-s(){
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.hidden(){
	overflow: hidden;
}
.ellipsis(){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.outline(){
	outline: none;
}
.cursor(){
	cursor: hand;
	cursor: pointer;
}
.clear(){
	clear: both;
}
