
@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1492410712319'); /* IE9*/
  src: url('./iconfont.eot?t=1492410712319#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1492410712319') format('woff'), /* chrome, firefox */
  url('./iconfont.ttf?t=1492410712319') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg?t=1492410712319#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xingbienv1 {
    color: #FF9BB7;
}
.icon-xingbienan {
    color: #9BD0FF;
}
.icon-tubiao:before { content: "\e608"; }

.icon-iconfont-delete:before { content: "\e601"; }

.icon-ziyuan1:before { content: "\e619"; }

.icon-shangdian:before { content: "\e669"; }

.icon-dingdan:before { content: "\e604"; }

.icon-xingbienan:before { content: "\e633"; }

.icon-xuanzhong:before { content: "\e6f2"; }

.icon-ziyuanzhengli:before { content: "\e695"; }

.icon-xingxing:before { content: "\e656"; }

.icon-xingxing1:before { content: "\e60b"; }

.icon-lingdang:before { content: "\e60c"; }

.icon-tanhao:before { content: "\e6c9"; }

.icon-xingbienv1:before { content: "\e61d"; }

.icon-renzhengsvg:before { content: "\e64e"; }

.icon-square-star:before { content: "\e602"; }

.icon-check:before { content: "\e603"; }
